footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

h2 {
    padding-bottom: 10px;
}

form {
    background-color: #46598738;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

table {
    width: 100%;
}

tr {
    height: 30px;
}

.col2 input {
    width: 100%;
}

.col1 {
    text-align: center;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
    padding: 2% 0;
}

.fullname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.fullname1,
.fullname2 {
    width: 100%;
}

.origin {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="text"],
input[type="email"] {
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}

textarea {
    width: 100%;
    resize: none;
    border-radius: 5px;
    padding: 1%;
}

.submitButton {
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.submitButton:hover {
    background-color: #3f558d;
}

@media screen and (max-height: 600px) {
    footer {
        display: none;
    }
}

@media screen and (max-width:600px) {
    form {
        width: 90%;
    }

    table {
        font-size: 0.7em;
    }

    input,
    textarea {
        font-size: 0.7em;
    }
}