* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #0A1940;
    color: whitesmoke;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.data {
    text-align: center;
}